.btn {
  display: inline-block;
  font-size: 1rem;
  padding: 0.9rem 1.8rem;
  border-radius: 10px;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.3s ease;

  &.btn-primary {
    background: #007bff;
    color: #fff;
    border: none;

    &:hover {
      background:#037dff;
    }
  }

  &.btn-outline {
    background: transparent;
    color: #fff;
    border: 2px solid #fff;

    &:hover {
      background: rgba(255, 255, 255, 0.1);
    }
  }
}
